html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(229, 231, 235);
  min-height: 100vh;
  scroll-behavior: smooth;
  /* 検索結果からスタンプに飛ぶ場合に、スタンプが中央付近に表示されるように調整 */
  scroll-padding-top: 40vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* for react-pdf （内部のクラスにアクセスする術がないためグローバルに定義） */
.react-pdf__Page__canvas {
  margin-left: auto;
  margin-right: auto;
}

.scrollbar-none {
  height: 150px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}
.scrollbar-none::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

:root {
  /* 検索モーダルの幅 */
  --searchmodal-width: 500px;
}
